<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<div class="btn-group" role="group">
	<button type="button" class="btn btn-default">左</button>
	<button type="button" class="btn btn-default">中央</button>
	<button type="button" class="btn btn-default">右</button>
</div>
